$primaryColor: #217809;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.modal {
    transition-property: opacity, transform, visibility;
    transition-duration: .3s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 20;
    position: fixed;
    width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -200%);
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 20px #00000060;

    &-body {
        .modal-header {
            position: relative;
            padding: 15px;

            .logo {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    max-height: 32px;
                    height: auto;
                }
            }

            .modal-close {
                position: absolute;
                right: 15px;
                top: 15px;
                font-size: 24px;
                background: none;
                cursor: pointer;
                border: none;
            }
        }

        .tab {
            width: 100%;
            display: flex;

            .btn-tab {
                flex-basis: 50%;
                border: none;
                padding: 15px;
                font-weight: bold;
                cursor: pointer;
                color: #808080;
                background-color: #f0f0f0;

                &.active {
                    color: white;
                    background: $primaryColor;
                }
            }
        }

        .tab-content {
            padding: 15px;

            .tab {
                display: none;

                .description-login {
                    text-align: center;
                    display: block;
                    margin-bottom: 20px;
                }

                &.active {
                    display: block;
                }

                .login-social {
                    display: flex;
                    gap: 16px;

                    .login-btn {
                        flex: 0 0 calc(50% - 8px);
                        padding: 5px;
                        text-align: center;
                        display: flex;
                        gap: 4px;
                        justify-content: center;
                        align-items: center;
                        background: #e2e8f0;
                        cursor: pointer;
                        border: none;
                        border-radius: 5px;
                        font-size: 16px;
                    }

                    margin-bottom: 20px;
                }

                .line {
                    display: flex;
                    justify-content: center;
                    padding: 5px;
                    position: relative;
                    text-align: center;

                    span {
                        background: white;
                        position: relative;
                        z-index: 2;
                        padding: 0 10px;
                        font-size: 14px;
                    }

                    &::after {
                        content: '';
                        width: 100%;
                        height: 1px;
                        background: #cecece;
                        position: absolute;
                        top: 50%;
                    }
                }

                .form {
                    label {
                        position: relative;

                        .password-hint {
                            position: absolute;
                            bottom: 0px;
                            right: 15px;
                            cursor: pointer;
                            border: none;
                            background: none;
                            color: #808080;
                        }
                    }

                    input {
                        margin-bottom: 10px;
                        width: 100%;
                        padding: 12px 50px 12px 12px;
                        border: 1px solid #ebebeb;
                        border-radius: 5px;
                        margin-top: 5px;
                    }
                }

                .btn-submit {
                    width: 100%;
                    padding: 12px 0;
                    background-color: $primaryColor;
                    color: white;
                    font-weight: bold;
                    border-radius: 5px;
                    border: none;
                    margin-top: 10px;
                    cursor: pointer;
                }

                .btn-orther {
                    display: flex;
                    justify-content: flex-end;

                    .btn-password-reset {
                        border: none;
                        background: none;
                        color: #808080;
                        font-size: 16px;
                    }
                }

                .condition-register {
                    margin-top: 20px;

                    .content {
                        color: #808080;

                        a {
                            text-decoration: none;
                        }
                    }
                }

                .description-register {
                    margin-top: 8px;
                    margin-bottom: 20px;
                    display: block;
                }
            }
        }
    }
}

.modal.show {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateX(-50%) translateY(-50%);
}

.overlay {
    background: #00000050;
    position: fixed;
    inset: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility;
    transition-duration: .3s;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.form-alert,
.input-error{
    font-style: 10px;
    color: red;
    margin-bottom: 15px;
}