@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row.g-1 {
  margin: 0 -0.25rem;
}
.row.g-1 [class^=col-] {
  padding: 0 0.25rem;
}

.row.g-2 {
  margin: 0 -0.5rem;
}
.row.g-2 [class^=col-] {
  padding: 0 0.5rem;
}

.row.g-3 {
  margin: 0 -1rem;
}
.row.g-3 [class^=col-] {
  padding: 0 1rem;
}

.row.g-4 {
  margin: 0 -1.5rem;
}
.row.g-4 [class^=col-] {
  padding: 0 1.5rem;
}

.row.g-5 {
  margin: 0 -3rem;
}
.row.g-5 [class^=col-] {
  padding: 0 3rem;
}

.col-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.col-offset-1 {
  margin-left: 8.3333333333%;
}

.col-offset-2 {
  margin-left: 16.6666666667%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.3333333333%;
}

.col-offset-5 {
  margin-left: 41.6666666667%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.3333333333%;
}

.col-offset-8 {
  margin-left: 66.6666666667%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.3333333333%;
}

.col-offset-11 {
  margin-left: 91.6666666667%;
}

.col-offset-12 {
  margin-left: 100%;
}

@media screen and (min-width: 576px) {
  .col-sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-sm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-sm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-sm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-sm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .col-offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .col-offset-sm-3 {
    margin-left: 25%;
  }
  .col-offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .col-offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .col-offset-sm-6 {
    margin-left: 50%;
  }
  .col-offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .col-offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .col-offset-sm-9 {
    margin-left: 75%;
  }
  .col-offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .col-offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .col-offset-sm-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 768px) {
  .col-md-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-md-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-md-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .col-offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .col-offset-md-3 {
    margin-left: 25%;
  }
  .col-offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .col-offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .col-offset-md-6 {
    margin-left: 50%;
  }
  .col-offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .col-offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .col-offset-md-9 {
    margin-left: 75%;
  }
  .col-offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .col-offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .col-offset-md-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 991px) {
  .col-lg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-lg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-lg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-lg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-lg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .col-offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .col-offset-lg-3 {
    margin-left: 25%;
  }
  .col-offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .col-offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .col-offset-lg-6 {
    margin-left: 50%;
  }
  .col-offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .col-offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .col-offset-lg-9 {
    margin-left: 75%;
  }
  .col-offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .col-offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .col-offset-lg-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xl-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xl-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xl-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xl-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xl-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xl-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xl-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xl-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .col-offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .col-offset-xl-3 {
    margin-left: 25%;
  }
  .col-offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .col-offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .col-offset-xl-6 {
    margin-left: 50%;
  }
  .col-offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .col-offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .col-offset-xl-9 {
    margin-left: 75%;
  }
  .col-offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .col-offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .col-offset-xl-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .col-xxl-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-xxl-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-xxl-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-xxl-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .col-offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .col-offset-xxl-3 {
    margin-left: 25%;
  }
  .col-offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .col-offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .col-offset-xxl-6 {
    margin-left: 50%;
  }
  .col-offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .col-offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .col-offset-xxl-9 {
    margin-left: 75%;
  }
  .col-offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .col-offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .col-offset-xxl-12 {
    margin-left: 100%;
  }
}
body {
  font-family: Inter;
  color: #2C2C2C;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 9999;
}
header .container {
  padding-top: 18px;
  display: flex;
  align-items: center;
}
header .header-right {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-left: 50px;
}
header nav {
  flex: 1;
}
header nav ul {
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: var(--cl-scss, #393939);
  font-weight: 600;
  padding: 35px 0;
  display: block;
  transition-property: border-color, color;
  transition: 0.4s;
  border-bottom: 2px solid transparent;
}
header nav ul li a:hover, header nav ul li a.active {
  color: var(--cl-scss, #4cb11b);
  border-bottom: 2px solid var(--cl-scss, #4cb11b);
}
header .header-right i {
  font-size: 25px;
}
header .header-right .cart {
  text-decoration: none;
  color: var(--cl-scss, #393939);
  position: relative;
  cursor: pointer;
}
header .header-right .cart .count {
  position: absolute;
  top: -8px;
  background: #E05000;
  right: -8px;
  color: white;
  font-size: 11px;
  border-radius: 50%;
  height: 13px;
  min-width: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-right .search {
  background: none;
  border: none;
  cursor: pointer;
}

footer {
  margin-top: 101px;
  background: var(--Green-100, #F2FFEC);
  padding-top: 67px;
  padding-bottom: 23px;
}
footer .container {
  padding: 0 112px;
}
footer .top {
  padding-bottom: 72.5px;
  border-bottom: 1px solid #A3A3A3;
  display: flex;
  justify-content: space-between;
}
footer .slogon {
  flex-basis: 200px;
}
footer .link-footer p {
  color: #46B20F;
  font-weight: 600;
}
footer .link-footer ul {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .link-footer ul li {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
}
footer .link-footer ul li a {
  text-decoration: none;
  color: var(--cl-scss, #2C2C2C);
  transition: color 0.3s;
}
footer .link-footer ul li a:hover {
  color: var(--cl-scss, #4cb11b);
}
footer .bottom {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .bottom .socials ul {
  display: flex;
  gap: 10px;
  list-style: none;
}
footer .bottom .socials ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-width: 40px;
  height: 40px;
  background: #DCFFCA;
  border-radius: 50%;
}

.introduce {
  position: relative;
  overflow: hidden;
}
.introduce .left {
  padding-left: 200px;
}
.introduce .row {
  align-items: center;
}
.introduce .right {
  background: #DCFFCA;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  position: relative;
}
.introduce .right span {
  font-size: 167px;
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 1;
  transform: rotate(90deg) translate(-35%, 28%);
  color: #216000;
  font-weight: 800;
  opacity: 15%;
}
.introduce .right img {
  position: relative;
  left: -150px;
  top: -8px;
}
.introduce .left h3 {
  font-size: 36.67px;
  font-weight: 800;
  margin-bottom: 15px;
}
.introduce .left span {
  font-size: 43.33px;
  font-weight: 800;
  line-height: 52.44px;
  padding-right: 156px;
  margin-bottom: 28px;
  display: block;
}
.introduce .left p {
  line-height: 20.42px;
  padding-right: 130px;
}

.quality {
  padding-top: 100px;
}
.quality .title {
  padding: 0 220px;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
}
.quality .meta {
  padding: 0 200px;
  text-align: center;
}
.quality .quality-items {
  padding: 90px 0;
  position: relative;
}
.quality .quality-items::before, .quality .quality-items::after {
  content: "";
  position: absolute;
  width: 235px;
  height: 235px;
  border-radius: 50%;
  z-index: 0;
}
.quality .quality-items::before {
  background: #DCFFCA;
  top: 0;
}
.quality .quality-items::after {
  background: #FFD5BD;
  bottom: 0;
  right: 0;
}
.quality .quality-items b {
  font-size: 43px;
  font-weight: 800;
}
.quality .quality-items .row {
  position: relative;
  z-index: 1;
  padding: 0 115px;
  justify-content: space-between;
  gap: 22px;
  align-items: center;
}
.quality .quality-items .row .small,
.quality .quality-items .row .big {
  box-shadow: -5px 0 72.5px rgba(54, 54, 54, 0.12);
  padding: 33.33px;
  border-radius: 5px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 23px;
}
.quality .quality-items .row .small {
  flex-basis: calc(33% - 22px);
}
.quality .quality-items .row .small .icon {
  background: #FFF0E7;
}
.quality .quality-items .row .big {
  flex-basis: calc(34% - 22px);
  min-height: 355px;
  padding-top: 55px;
}
.quality .quality-items .row .big .icon {
  background: #F2FFEC;
}
.quality .quality-items .icon {
  padding: 20px;
  border-radius: 5px;
  width: fit-content;
}

.products {
  padding-top: 100px;
}
.products h2 {
  text-align: center;
}
.products .products-items {
  padding: 0 73px;
}
.products .products-items .row [class^=col-]:nth-child(3n-1) .image {
  background: #C5FFA8;
}
.products .products-items .row [class^=col-] {
  padding: 47.5px 42px;
}
.products .products-items .product-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  height: 100%;
}
.products .products-items .product-item .image {
  position: relative;
  padding-top: 100%;
  border-radius: 50%;
  background: #FFBA94;
  margin-bottom: 50%;
}
.products .products-items .product-item .image img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.products .products-items .product-item h3 {
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
  font-size: 23px;
  flex: 1;
}
.products .products-items .product-item h3 a {
  text-decoration: none;
  color: var(--cl-scss, #2C2C2C);
  transition: color 0.3s;
}
.products .products-items .product-item h3 a:hover {
  color: var(--cl-scss, #4cb11b);
}
.products .products-items .product-item h3::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background: #A3A3A3;
  bottom: -12px;
}
.products .products-items .product-item .content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products .products-items .product-item .content button {
  color: white;
  background: #46B20F;
  padding: 13.33px 11.67px 13.33px 11.67px;
  border: none;
  border-radius: 7px;
  max-width: 80%;
  margin-top: 31px;
}
.products .products-items .product-item .content .price {
  font-weight: bold;
  font-size: 23.33px;
  margin-top: 6px;
}
.products .products-items .product-item .content .price span {
  font-weight: normal;
  font-size: 16px;
}

.news {
  margin-top: 129px;
}
.news h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 23px;
  text-align: center;
}
.news .meta {
  text-align: center;
  padding: 0 170px;
  margin-bottom: 29px;
}
.news button {
  font-weight: 700;
}
.news .news-items .new-item > a {
  font-size: 0;
  display: block;
}
.news .news-items .new-item > a img {
  width: 100%;
  border-radius: 6.67px;
}
.news .news-items .new-item .info {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 16px;
  align-items: center;
}
.news .news-items .new-item .info .author {
  color: #46b20f;
}
.news .news-items .new-item .info .date {
  display: flex;
  gap: 10px;
}
.news .news-items .new-item .info .date * {
  color: #a3a3a3;
}
.news .news-items .new-item .content h3 a {
  display: block;
  text-decoration: none;
  color: var(--cl-scss, #2C2C2C);
  transition: color 0.3s;
  margin-bottom: 16px;
}
.news .news-items .new-item .content h3 a:hover {
  color: var(--cl-scss, #4cb11b);
}
.news a.next {
  margin-top: 80px;
  border: 1px solid var(--cl-scss, #2C2C2C);
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition-property: color, background-color, border-color;
}
.news a.next :hover {
  color: white;
  background-color: var(--cl-scss, #4cb11b);
  border-color: var(--cl-scss, #4cb11b);
}
.news a.next i {
  font-size: 12px;
}

.protects {
  margin-top: 100px;
  position: relative;
  padding-bottom: 116px;
}
.protects h2 {
  font-size: 32px;
  margin-bottom: 24px;
  text-align: center;
  font-weight: 600;
}
.protects .description {
  margin-bottom: 50px;
  text-align: center;
}
.protects .protect-items .protect-item {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.protects .protect-items .protect-item > a {
  font-size: 0;
  display: flex;
  background: white;
}
.protects .protect-items .protect-item img {
  width: 100%;
  border-radius: 8.33px;
}
.protects .protect-items .protect-item .content {
  padding: 24px 27.5px;
  background: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  flex: 1;
}
.protects .protect-items .protect-item .content h3 a {
  color: #E05000;
  text-shadow: 0px 3.3333332539px 3.3333332539px rgba(0, 0, 0, 0.2509803922);
  text-decoration: none;
  margin-bottom: 6px;
}
.protects::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 300px;
  background-color: #FFF0E7;
  bottom: 0;
  z-index: -1;
}

.profits {
  margin-top: 133px;
}
.profits .profit-items {
  padding: 0 56px;
}
.profits .profit-items .row {
  margin: -39px 0;
}
.profits .profit-items .row [class^=col] {
  padding: 19.5px 26.25px;
}
.profits .profit-items .row .profit-item {
  display: flex;
  gap: 16px;
}

.contact {
  margin-top: 133px;
}
.contact img {
  max-width: 100%;
  height: auto;
  padding-right: 98px;
}
.contact .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.contact .right form {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.contact .right form button {
  display: flex;
  background-color: #46B20F;
  color: white;
  width: fit-content;
  padding: 13px 30px;
  border-radius: 7px;
  border: none;
  position: relative;
  left: 100%;
  transform: translateX(-100%);
}
.contact .right form .group-form {
  display: flex;
  gap: 17.5px;
}
.contact .right form .group-form input {
  flex: 0 0 calc(50% - 8.75px);
}
.contact .right form textarea,
.contact .right form input {
  width: 100%;
  padding: 13px;
  border-radius: 7px;
  border: 1px solid #A3A3A3;
}

/*# sourceMappingURL=style.css.map */
