.board-row{
    display: flex;
    .square{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        font-size: 30px;
    }
}
