@use '../../partials/mixin' as *;
.profits {
    @include screen(992px){
        margin-top: 133px;
    }
    
    @include m-screen(992px){
        .row.g-4 [class^=col-]{
            padding: 0;
        }
    }
    .profit-items {
        @include screen(992px){
            padding: 0 56px;
        }

        .row {
            margin: -39px 0;

            [class^="col"] {
                padding: calc(39px / 2) calc(52.5px / 2);
            }

            .profit-item {
                display: flex;
                gap: 16px;
            }
        }
    }
}