.card {
	border: 1px solid red;
	padding: 15px;
	h1 {
		font-size: 40px;
		font-weight: bold;
		text-align: center;
	}
	p {
		padding: 10px;
	}
}

.btn {
	background: red;
	color: white;
	border: 1px solid red;
	padding: 5px 10px;
}
