*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    text-decoration: none;
}

.box{
    border: 5px solid red;
    width: 200px;
    padding: 50px;
    box-sizing: border-box;
    margin: 50px;
}