/* 
    Float: Thuộc tính giúp trôi các thành phần html về bên trái, bên phải thành phần cha của nó
- none
- left
- right
Ngăn tình trạng trôi các thành phần do các thành phần phía trên có sử dụng float
left - ngăn trôi về bên trái
right - ngăn trôi về bên phải
both - Chặn cả 2 bên
chỉ hoạt động với block


Kỹ thuật clearfix:
- Kết hợp tất cả các thuộc itnhs css lại để giải quyết bài toán chia layout bằng float và clear
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

.row{
    max-width: 1000px;
    margin: 30px auto;
    border: 1px solid red;
}

.box-1{
    width: 200px;
    height: 100px;
    background: green;
    color: #fff;
    float: left;
    opacity: 0.5;
}

.box-2{
    width: 300px;
    height: 200px;
    background: blue;
    color: #fff;
    float: right;
    opacity: 0.5;
}

.box-3{
    width: 100px;
    height: 100px;
    background: red;
    color: #fff;
    opacity: 0.5;
}

.clearfix{
    clear: both;
}

.text{
    background: yellow;
}


.row::after{
    content: '';
    display: block;
    clear: both;
}