*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
	--bg-body: #ffffff;
	--cl-body: #1a202c;
    --bg-choose-number: #E2E8F0;
    --bg-choose-number-progress: #ffffff;
}

[data-theme="dark"] {
	--bg-body: #1a202c;
	--cl-body: #ffffffeb;
}

body {
	font-family: sans-serif;
}