@use './partials/variable' as p;
@use './partials/mixin' as m;

body {
    font-family: Inter;
    color: p.$colorMain;
}

.container {
    max-width: 85%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

.btn-rs {
    border-radius: 7px;
    display: flex;
    width: 128px;
    padding: 13px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid transparent;
}

.btn-main {
    background: var(--green-800-main, #46b20f);
    color: var(--White, #fff);
    border-color: #46b20f;
}

@include m.screen(992px) {
    .container {
        max-width: 90%;
    }
}