/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: Rajdhani;
    src: url(../fonts/Rajdhani/Rajdhani-Regular.ttf);
}

@font-face {
    font-family: Rajdhani;
    src: url(../fonts/Rajdhani/Rajdhani-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: TitiWeb;
    src: url(../fonts/TitilliumWeb/TitilliumWeb-Black.ttf);
    font-weight: 900;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Rajdhani, sans-serif;
}

a {
    text-decoration: none;
}

.landing {
    background-image: url(../img/landing-background.jpg);
    background-size: cover;
    position: fixed;
    inset: 0;
}

.landing .logo {
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 42px;
    height: 60px;
}

.landing .logo path {
    fill: white;
}

.landing .actions {
    margin-top: 5.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .actions label {
    width: 11.25rem;
    height: 3.375rem;
    line-height: 3.375rem;
    font-weight: 700;
    display: inline-block;
    border: 1px solid white;
    color: white;
    transition-property: color, background-color;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.landing .actions label[for=login] {
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}

.landing .actions label[for=register] {
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

.landing-decoration {
    position: absolute;
    top: -20%;
    right: -32%;
    width: 64%;
    height: 140%;
    border-radius: 50%;
    background-color: white;
    pointer-events: none;
    background-image: url("../img/dot-texture.png");
}

.landing-info {
    text-align: center;
    position: absolute;
    max-width: 36.5rem;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
}

.landing-info .pre-title {
    margin-top: 2.25rem;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.landing-info .description {
    font-size: 1.125rem;
    color: white;
    margin: 30px 100px 0;
}

.landing-info .title {
    font-family: TitiWeb;
    color: white;
    font-size: 6.5rem;
    line-height: 6.5rem;
    text-transform: uppercase;
    font-weight: 900;
}

.landing-form {
    position: absolute;
    left: 60%;
    top: 100px;
    transition: top 0.2s ease-in-out;
    transform: translateY(-50%);
}

.landing-form-icon {
    position: absolute;
    top: 0%;
    transform: translate(-50%, -50%);
    left: 0%;
}

.landing-form .form-register,
.landing-form .form-login {
    position: absolute;
    opacity: 0;
    left: 0;
    background-color: white;
    transition: 0.2s ease-in-out;
    transition-property: transform, opacity, height;
    pointer-events: none;
    transform: translateX(50%);
    height: 0;
    visibility: hidden;
    padding: 64px;
    width: 484px;
    border-radius: 12px;
}

@media (max-width: 991px) {

    .landing-form .form-register,
    .landing-form .form-login {
        display: none;
    }
}

.landing-form .form-register h3,
.landing-form .form-login h3 {
    color: #3e3f5e;
    line-height: 1em;
    font-size: 1.625rem;
    text-align: center;
    font-weight: 700;
}

.landing-form .form-register .form,
.landing-form .form-login .form {
    margin-top: 5.625rem;
}

.landing-form .form-register .form .social-links,
.landing-form .form-login .form .social-links {
    text-align: center;
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.landing-form .form-register .form .social-links .social-link,
.landing-form .form-login .form .social-links .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 6px;
}

.landing-form .form-register .form .social-links .social-link svg,
.landing-form .form-login .form .social-links .social-link svg {
    width: 12px;
    height: 12px;
}

.landing-form .form-register .form .social-links .social-link svg path,
.landing-form .form-login .form .social-links .social-link svg path {
    fill: white;
}

.landing-form .form-register .form .social-links .social-link.facebook,
.landing-form .form-login .form .social-links .social-link.facebook {
    background: #3763d2;
}

.landing-form .form-register .form .social-links .social-link.twitter,
.landing-form .form-login .form .social-links .social-link.twitter {
    background: #1abcff;
}

.landing-form .form-register .form .social-links .social-link.twitch,
.landing-form .form-login .form .social-links .social-link.twitch {
    background: #7b5dfa;
}

.landing-form .form-register .form .social-links .social-link.youtube,
.landing-form .form-login .form .social-links .social-link.youtube {
    background: #fd434f;
}

.landing-form .form-register .form .contact,
.landing-form .form-login .form .contact {
    font-size: 0.875rem;
    margin-top: 1.875rem;
}

.landing-form .form-register .form .contact a,
.landing-form .form-login .form .contact a {
    color: #23d2e2;
    font-weight: 700;
}

.landing-form .form-input {
    position: relative;
}

.landing-form .form-input+.form-input {
    margin-top: 2.25rem;
}

.landing-form .form-input input[type=text],
.landing-form .form-input input[type=password] {
    width: 100%;
    border: 1px solid #adafca;
    height: 54px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1rem;
    outline: none;
    padding: 0 1.125rem;
    transition-property: border-color;
    transition: 0.2s ease-in-out;
}

.landing-form .form-input input[type=text]:focus,
.landing-form .form-input input[type=password]:focus {
    border-color: #615dfa;
}

.landing-form .form-input input[type=text]:focus+label,
.landing-form .form-input input[type=text]:not(:placeholder-shown)+label,
.landing-form .form-input input[type=password]:focus+label,
.landing-form .form-input input[type=password]:not(:placeholder-shown)+label {
    font-size: 12px;
    top: 0;
}

.landing-form .form-input label {
    transition-property: top, font-size;
    transition: 0.2s ease-in-out;
    background: white;
    position: absolute;
    z-index: 1;
    top: 50%;
    display: block;
    left: 18px;
    padding: 2px 5px;
    color: #adafca;
    translate: 0 -50%;
    font-weight: 700;
}

.landing-form .action-form {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-form .action-form .remember {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.landing-form .action-form a {
    color: #adafca;
    font-weight: 700;
    transition: color 0.2s ease-in-out;
}

.landing-form .action-form a:hover {
    color: #23d2e2;
}

.landing-form .action-form input:checked+.checkbox {
    background-color: #23d2e2;
    border-color: #23d2e2;
}

.landing-form .action-form .checkbox {
    margin-right: 8px;
    width: 22px;
    transition: 0.2s ease-in-out;
    transition-property: background-color, border-color;
    height: 22px;
    padding: 4px;
    border: 1px solid #dedeea;
    border-radius: 6px;
}

.landing-form .action-form .checkbox svg path {
    fill: white;
}

.landing-form .lined-text {
    color: #3e3f5e;
    position: relative;
    font-weight: 700;
    text-align: center;
    margin: 2.5rem 0 1.75rem;
}

.landing-form .lined-text::before {
    left: 0;
}

.landing-form .lined-text::before,
.landing-form .lined-text::after {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #eaeaf5;
    position: absolute;
    top: 7px;
}

.landing-form .lined-text::after {
    right: 0;
}

.btn {
    display: inline-block;
    height: 3rem;
    border-radius: 0.625rem;
    background-color: #3e3f5e;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    line-height: 3rem;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 3px 5px 10px 0 rgba(62, 63, 94, 0.2);
    border: none;
    outline: none;
    width: 100%;
}

.btn.secondary:hover {
    background-color: #4844b8;
}

.btn.medium {
    height: 3.375rem;
    line-height: 3.375rem;
}

.btn:not(:disabled) {
    cursor: pointer;
}

.btn.secondary {
    background-color: #615dfa;
    box-shadow: 4px 7px 12px 0 rgba(97, 93, 250, 0.2);
}

.btn.info {
    background: #23d2e2;
    box-shadow: 4px 7px 12px 0 rgba(35, 210, 226, 0.2);
}

input[name=landing][value="1"]:checked~.landing-info label[for=login],
input[name=landing][value="2"]:checked~.landing-info label[for=register] {
    background-color: white;
    color: black;
}

input[name=landing][value="1"]:checked~.landing-form .form-login,
input[name=landing][value="2"]:checked~.landing-form .form-register {
    transform: translateX(0%);
    opacity: 1;
    height: auto;
    visibility: visible;
    pointer-events: all;
}

@media (max-width: 991px) {

    input[name=landing][value="1"]:checked~.landing-form .form-login,
    input[name=landing][value="2"]:checked~.landing-form .form-register {
        display: block;
    }
}

@media (max-width: 991px) {
    .landing {
        position: static;
        width: 100%;
        height: 100%;
    }

    .landing-info {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .landing-decoration {
        display: none;
    }

    .landing-form {
        margin-top: 100px;
        position: relative;
        transform: translate(-50%, 0);
        left: 50%;
        top: 0;
    }

    .landing-form .form-register,
    .landing-form .form-login {
        position: static;
        margin: 0 auto;
    }
}

/*# sourceMappingURL=style.css.map */