@media screen and (min-width: 576px) {
    .hot-bird .items .item {
        flex-basis: calc(100% / 2);
    }

    aside .infomation .analytics .item .count {
        padding: 12px 19px;
        width: 68px;
    }

    aside .infomation .ui .close {
        display: none;
    }

    aside {
        width: calc(100vw - 75px);
    }

    &:has(input[id="toggleAside"][type="checkbox"]:checked) {
        .overlay {
            position: fixed;
            top: 0;
            right: 0;
            background: #0000009e;
            width: calc(100% - 75px);
            height: 100vh;
            cursor: pointer;
            z-index: 9999;
            display: initial;
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        .btn-connect-wallet {
            color: white;
            border-radius: 12px;
            background: #161A43;
            box-shadow: 0px 13px 17px 0px rgba(140, 213, 105, 0.20);
            margin-right: 21px;
            position: relative;
            cursor: pointer;
            display: initial;
            background-image: linear-gradient(to right, #00A5FF, #33b6fc, #5fc5fc, #d4ff00);
            padding: 2px;
            border: none;

            &:hover {
                animation: backgroundSizeRun 1s infinite;
            }

            span {
                position: relative;
                z-index: 1;
                background: #161A43;
                padding: 16px 20px;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 12px;
                color: var(--Greys-Blue-Grey-300, #F9FAFB);
                font-family: Poppins;
                white-space: nowrap;
            }
        }

        form {
            margin-right: 45px;
            display: flex;
            padding: 16px 20px;
        }

        .coin {
            padding: 16px;
        }

        .notification {
            margin-right: 16px;
        }

        .create {
            color: white;
            padding: 16px 20px;
            border: 2px solid #202554;
            background: linear-gradient(162deg, #161A43 22.61%, #161A43 118.29%);
            border-radius: 16px;
            margin-right: 16px;
            cursor: pointer;
            color: #FFF;
            font-family: var(--font-family-1);
        }

        .username {
            margin-left: 20px;

            .info {
                margin-left: 16px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                color: white;
                white-space: nowrap;
                padding: 3px;

                .name {
                    color: #E3E4E8;
                    font-family: Quicksand;
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 8px;
                }

                .user {
                    color: #92C5FD;
                    font-size: 14px;
                }

                flex: 1;
            }

            .down {
                cursor: pointer;
                background: transparent;
                border: none;
                display: initial;

                img {
                    height: 24px;
                }
            }
        }
    }

    main .main .live-header h2 {
        font-size: 31px;
    }
}

@media screen and (min-width: 992px) {
    main {
        max-width: calc(100% - 72px - 32px);
    }

    body {
        padding: 45px 32px;
    }


    nav {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: calc(100vh - 45px * 2);
        position: initial;
        visibility: initial;
        opacity: initial;
        transform: initial;
    }

    nav .actions{
        margin-top: auto;
    }

    .hot-bird .items .item {
        flex-basis: calc(100% / 3);
    }

    .live .items .item .content {
        position: absolute;
        margin-top: initial;
        margin-bottom: initial;
    }

    .live {
        .items {
            padding: 0 19px;

            .row {
                margin: 0 -38px;
            }

            [class^="col"]+[class^="col"] {
                margin-top: initial;
            }
        }
    }

    .showMenu {
        display: none;
    }

    body {
        &:has(input[id="showMenu"][type="checkbox"]:checked) {
            .overlay-showMenu {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .hot-bird .items {
        margin: 0 -40px;
    }

    .hot-bird .container {
        padding: 0 20px;
    }

    .hot-bird .items .item {
        padding: 0 20px;
    }

    .live {
        .items {
            padding: 0 19px;
        }
    }

    header .username {
        flex: 1;
    }
}

@media screen and (min-width: 1400px) {
    &:has(input[id="toggleAside"][type="checkbox"]:checked) {
        .overlay{
            display: none;
        }
    }

    aside .revenue .table-revenue .times {
        gap: 24px;
    }

    main {
        max-width: 60%;
    }

    .live {
        .items {
            padding: 0 19px;
        }
    }


    header {

        form {
            max-width: 449px;
            width: 100%;
        }

    }

    [for="toggleAside"] {
        display: none;
    }

    aside {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        position: initial;
        right: initial;
        max-height: initial;
    }
}


@media screen and (min-width: 1600px) {
    aside .infomation .analytics {
        gap: 16px;
    }

    header {
        .create {
            display: initial;
        }
    }

    .hot-bird .items .item {
        flex-basis: calc(100% / 6);
    }
}

@media screen and (min-width: 1700px) {
    main {
        max-width: 70%;
    }
}