@import './variables';
@import './reset';
@import './mixins';
@import './function';

@font-face {
    font-family: Rajdhani;
    src: url(../fonts/Rajdhani/Rajdhani-Regular.ttf);
}


@font-face {
    font-family: Rajdhani;
    src: url(../fonts/Rajdhani/Rajdhani-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: TitiWeb;
    src: url(../fonts/TitilliumWeb/TitilliumWeb-Black.ttf);
    font-weight: 900;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Rajdhani, sans-serif;
}

a {
    text-decoration: none;
}

.landing {
    .logo {
        margin-left: auto;
        margin-right: auto;
        color: white;
        width: 42px;
        height: 60px;

        path {
            fill: white;
        }
    }

    .actions {
        margin-top: pxToSize(90);
        @include flexCenter;

        label {
            width: pxToSize(180);
            height: pxToSize(54);
            line-height: pxToSize(54);
            font-weight: 700;
            display: inline-block;
            border: 1px solid white;
            color: white;
            transition-property: color, background-color;
            transition: .2s ease-in-out;
            cursor: pointer;

            &[for="login"] {
                border-top-left-radius: pxToSize(12);
                border-bottom-left-radius: pxToSize(12);
            }

            &[for="register"] {
                border-top-right-radius: pxToSize(12);
                border-bottom-right-radius: pxToSize(12);
            }
        }
    }

    background-image: url(../img/landing-background.jpg);
    background-size: cover;
    position: fixed;
    inset: 0;

    &-decoration {
        position: absolute;
        top: -20%;
        right: -32%;
        width: 64%;
        height: 140%;
        border-radius: 50%;
        background-color: white;
        pointer-events: none;
        background-image: url('../img/dot-texture.png');
    }

    &-info {
        text-align: center;
        position: absolute;
        max-width: pxToSize(584);
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        left: 15%;

        .pre-title {
            margin-top: pxToSize(36);
            color: white;
            font-size: pxToSize(24);
            text-transform: uppercase;
        }

        .description {
            font-size: pxToSize(18);
            color: white;
            margin: 30px 100px 0;
        }

        .title {
            font-family: TitiWeb;
            color: white;
            font-size: 6.5rem;
            line-height: 6.5rem;
            text-transform: uppercase;
            font-weight: 900;
        }
    }

    &-form {
        position: absolute;
        left: 60%;
        top: 100px;
        transition: top .2s ease-in-out;
        transform: translateY(-50%);

        &-icon {
            position: absolute;
            top: 0%;
            transform: translate(-50%, -50%);
            left: 0%;
        }
        
        .form-register,
        .form-login {
            position: absolute;
            opacity: 0;
            left: 0;
            background-color: white;
            transition: .2s ease-in-out;
            transition-property: transform, opacity, height;
            pointer-events: none;
            transform: translateX(50%) rotate(3deg) scale(.5);
            height: 0;
            visibility: hidden;
            padding: 64px;
            width: 484px;
            border-radius: 12px;
            @media (max-width:991px) {
                display: none;
            }
            h3 {
                color: #3e3f5e;
                line-height: 1em;
                font-size: 1.625rem;
                text-align: center;
                font-weight: 700;
            }

            .form {
                margin-top: pxToSize(90);
                .social-links {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    column-gap: 12px;
                    .social-link {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 40px;
                        border-radius: 6px;

                        svg {
                            width: 12px;
                            height: 12px;

                            path {
                                fill: white;
                            }
                        }

                        &.facebook {
                            background: #3763d2;
                        }

                        &.twitter {
                            background: #1abcff;
                        }

                        &.twitch {
                            background: #7b5dfa;
                        }

                        &.youtube {
                            background: #fd434f;
                        }
                    }
                }

                .contact{
                    font-size: pxToSize(14);
                    margin-top: pxToSize(30);
                    a{
                        color: #23d2e2;
                        font-weight: 700;
                    }
                }
            }
        }

        .form-input {
            +.form-input {
                margin-top: pxToSize(36);
            }

            position: relative;

            input[type="text"],
            input[type="password"] {
                width: 100%;
                border: 1px solid #adafca;
                height: 54px;
                border-radius: 12px;
                font-weight: 700;
                font-size: 1rem;
                outline: none;
                padding: 0 pxToSize(18);
                transition-property: border-color;
                transition: .2s ease-in-out;

                &:focus {
                    border-color: #615dfa;
                }

                &:focus+label,
                &:not(:placeholder-shown)+label {
                    font-size: 12px;
                    top: 0;
                }
            }

            label {
                transition-property: top, font-size;
                transition: .2s ease-in-out;
                background: white;
                position: absolute;
                z-index: 1;
                top: 50%;
                display: block;
                left: 18px;
                padding: 2px 5px;
                color: #adafca;
                translate: 0 -50%;
                font-weight: 700;
            }
        }

        .action-form {
            .remember {
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            a {
                color: #adafca;
                font-weight: 700;
                transition: color .2s ease-in-out;

                &:hover {
                    color: #23d2e2;
                }
            }

            margin-top: pxToSize(28);
            margin-bottom: pxToSize(28);
            display: flex;
            justify-content: space-between;
            align-items: center;

            input:checked+.checkbox {
                background-color: #23d2e2;
                border-color: #23d2e2;
            }

            .checkbox {
                margin-right: 8px;
                width: 22px;
                transition: .2s ease-in-out;
                transition-property: background-color, border-color;
                height: 22px;
                padding: 4px;
                border: 1px solid #dedeea;
                border-radius: 6px;

                svg {
                    path {
                        fill: white;
                    }
                }
            }
        }

        .lined-text {
            color: #3e3f5e;
            position: relative;
            font-weight: 700;
            text-align: center;
            margin: pxToSize(40) 0 pxToSize(28);

            &::before {
                left: 0;
            }

            &::before,
            &::after {
                content: "";
                width: 70px;
                height: 1px;
                background-color: #eaeaf5;
                position: absolute;
                top: 7px;
            }

            &::after {
                right: 0;
            }
        }
    }
}

.btn {
    display: inline-block;
    height: pxToSize(48);
    border-radius: pxToSize(10);
    background-color: #3e3f5e;
    color: #fff;
    font-size: pxToSize(14);
    font-weight: 700;
    text-align: center;
    line-height: pxToSize(48);
    transition: background-color .2s ease-in-out;
    box-shadow: 3px 5px 10px 0 rgba(62, 63, 94, .2);
    border: none;
    outline: none;
    width: 100%;

    &.secondary:hover {
        background-color: #4844b8;
    }

    &.medium {
        height: pxToSize(54);
        line-height: pxToSize(54);
    }

    &:not(:disabled) {
        cursor: pointer;
    }

    &.secondary {
        background-color: #615dfa;
        box-shadow: 4px 7px 12px 0 rgba(97, 93, 250, .2);
    }
    &.info{
        background: #23d2e2;
        box-shadow: 4px 7px 12px 0 rgba(#23d2e2, .2);
    }
}


input[name="landing"][value="1"]:checked ~ .landing-info label[for="login"],
input[name="landing"][value="2"]:checked ~ .landing-info label[for="register"]{
    background-color: white;
    color: black;
}

input[name="landing"][value="1"]:checked ~ .landing-form .form-login,
input[name="landing"][value="2"]:checked ~ .landing-form .form-register{
    transform: translateX(0%) rotate(0);
    opacity: 1;
    height: auto;
    visibility: visible;
    pointer-events: all;
    @media (max-width:991px) {
        display: block;
    }
}

input[name="landing"][value="2"]:checked ~ .landing-form{
}

input[name="landing"][value="1"]:checked ~ .landing-form .form-register{
    
}

@media (max-width: 991px){
    .landing{
        position: static;
        width: 100%;
        height: 100%; 
    }

    .landing-info{
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .landing-decoration{
        display: none;
    }
    .landing-form{
        margin-top: 100px;
        position: relative;
        transform: translate(-50%,0);
        left: 50%;
        top: 0;
    }

    .landing-form .form-register, .landing-form .form-login{
        position: static;
        margin: 0 auto;
    }
}