:root{
    --cl-main: #f2a640;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.service{
    padding: 0 60px;
}

.service h2.title{
    margin-top: 20px;
}

.service .sub-title,
.service h2.title{
    text-align: center;
}

.service .items{
    margin: 60px -15px; 
    display: flex;
    flex-wrap: wrap;
}

.service .items .item{
    flex: 0 0 calc(100% / 3);
    padding: 0 15px;
}

.service .items .item .box{
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
    padding: 20px
}

.service .items .item .box .image{
    display: inline-flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    padding: 20px;
    border: 1px solid var(--cl-main);
    margin-bottom: 20px;
}

.service .items .item .box .body{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.service .items .item .box .body p{
    color: #a6b6c3;
}

.service .items .item .box .body a{
    text-decoration: none;
    padding: 10px 20px;
    background: var(--cl-main);
    color: white;
}

.service .items .item .box .body h3{
    font-size: 24px;
}