.title {
	color: #2d7b7b;
	font-size: 36px;
	display: block;
	font-weight: bold;
	margin-bottom: 20px;
}

.input {
	display: block;
	width: 100%;
	padding: 0.5rem 1rem;
	background: transparent;
	border: 1px solid var(--border-input,#2d7b7b);
	border-radius: 0.25rem;
	color: var(--cl-input);
	font-size: 1rem;
	margin-bottom: 20px;
    &:focus {
        outline: 2px solid #2d7b7b;
    }
}

.playAgain{
	padding: 4px 16px;
	margin-bottom: 12px;
	background-color: #2d7b7b;
	color: #fff;
	border-radius: 6px;
	cursor: pointer;
	border: none;
}